<nav class="navbar navbar-expand-lg navbar-light compensate-for-scrollbar" id="navbar-main">
  <div class="container-xl">
    {{ $currentLang := .Site.Language.Lang }}
    {{ $isZH := or (eq $currentLang "zh") (in .RelPermalink "/zh/") }}
    {{/* Brand */}}
    <a class="navbar-brand me-lg-3" href="{{ if $isZH }}/zh{{ else }}/{{ end }}">
      {{- if site.Params.appearance.header.logo.icon -}}
        <i class="{{ site.Params.appearance.header.logo.icon }} fa-lg"></i>
      {{- end -}}
      {{- if site.Params.appearance.header.logo.text -}}
        <span class="font-weight-bold">{{ site.Params.appearance.header.logo.text | safeHTML }}</span>
      {{- end -}}
    </a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar" aria-expanded="false" aria-label="{{ i18n "toggle_navigation" }}">
      <span><i class="fas fa-bars"></i></span>
    </button>

    {{/* Nav pages */}}
    <div class="navbar-collapse main-menu-item collapse" id="navbar-content">
      <ul class="navbar-nav d-md-inline-flex">
        {{ if in .RelPermalink "/zh/" }}
          {{ range site.Menus.main }}
            <li class="nav-item">
              {{ $url := printf "/zh/%s" (strings.TrimPrefix "/" .URL) }}
              <a class="nav-link" href="{{ $url }}">
                {{ .Pre }}
                <span>{{ i18n (printf "menu_%s" .Identifier) }}</span>
                {{ .Post }}
              </a>
            </li>
          {{ end }}
        {{ else }}
          {{ range site.Menus.main }}
            <li class="nav-item">
              {{ $url := printf "/%s" (strings.TrimPrefix "/" .URL) }}
              <a class="nav-link" href="{{ $url }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
                {{ .Post }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>

    <div class="navbar-right">
      <div class="nav-item dropdown">
        <!-- <a class="nav-link dropdown-toggle" href="#" id="languageSelector" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-globe mr-1"></i> {{ if in .RelPermalink "/zh/" }}简体中文{{ else }}English{{ end }}
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="languageSelector">
          {{ $currentURL := .RelPermalink }}
          <a class="dropdown-item" href="{{ strings.TrimPrefix "/zh" $currentURL }}">English</a>
          <a class="dropdown-item" href="/zh{{ strings.TrimPrefix "/zh" $currentURL }}">简体中文</a>
        </div> -->
      </div>
    </div>

    <!-- Debug Info -->
    <!-- Current Language: {{ $currentLang }} -->
    <!-- Current URL: {{ .RelPermalink }} -->
    <!-- Is Chinese: {{ $isZH }} -->

  </div>
</nav> 