<style>
.sponsor-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.sponsor-logo {
  width: 100px;
  height: 100px;
  object-fit: contain;
  filter: grayscale(0%);
  transition: all 0.3s ease;
  padding: 10px;
}

.sponsor-logo:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}
</style>

<div class="sponsor-container">
  <img src="/media/logos/hkust.png" alt="香港科技大学" class="sponsor-logo">
  <img src="/media/logos/purdue.png" alt="普渡大学" class="sponsor-logo">
  <img src="/media/logos/tongji.png" alt="同济大学" class="sponsor-logo">
  <img src="/media/logos/delft.png" alt="代尔夫特理工" class="sponsor-logo">
  <img src="/media/logos/buct.png" alt="北京化工大学" class="sponsor-logo">
  <img src="/media/logos/csu.png" alt="中南大学" class="sponsor-logo">
  <img src="/media/logos/dlut.png" alt="大连理工" class="sponsor-logo">
  <img src="/media/logos/cnpc.png" alt="中石油" class="sponsor-logo">
  <img src="/media/logos/sinopec.png" alt="中石化" class="sponsor-logo">
  <img src="/media/logos/baosteel.png" alt="宝钢股份" class="sponsor-logo">
  <img src="/media/logos/midea.png" alt="美的集团" class="sponsor-logo">
  <img src="/media/logos/shanghai-electric.png" alt="上海电气" class="sponsor-logo">
  <img src="/media/logos/nanfang.png" alt="南方泵业" class="sponsor-logo">
  <img src="/media/logos/cssc.png" alt="中船工业" class="sponsor-logo">
  <img src="/media/logos/norinco.png" alt="中国兵器" class="sponsor-logo">
  <img src="/media/logos/hollysys.png" alt="和利时" class="sponsor-logo">
  <img src="/media/logos/bd-data.png" alt="碧帝数科" class="sponsor-logo">
  <img src="/media/logos/jingrui-vision.jpg" alt="精锐视觉" class="sponsor-logo">
  <img src="/media/logos/aviation-industry.png" alt="中航工业" class="sponsor-logo">
  <img src="/media/logos/comac.png" alt="中国商飞" class="sponsor-logo">
</div> 